@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&family=Raleway:wght@400;600;900&display=swap");

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(36, 36, 36, 0.85);
  scroll-behavior: smooth;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  background: #5987f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #3d76fa;
  border-radius: 20px;
}

/* .arrow-1 {
  width:100px;
  height:30px;
  display: flex;
}
.arrow-1:before {
  content: "";
  background: currentColor;
  width:15px;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: a1 1.5s infinite linear;
}
@keyframes a1 {
  90%,100%{flex-grow: 1}
} */
figcaption h1,
figcaption span,
figcaption small,
h2 {
  background: -webkit-linear-gradient(180deg, #2563eb 20%, #4338ca);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

aside {
  overflow-y: scroll;
}

aside::-webkit-scrollbar {
  display: none;
}

aside,
form {
  background-color: #f2f2ff;
  color: #222;
}

main {
  background-color: #e5e7eb;
}
/* @keyframes a2 {
  90%,100%{flex-grow: .5}
} */

aside.dark,
form.dark {
  background-color: #181a2e;
  color: rgb(255, 255, 255);
}
/* @keyframes a3 {
  0%  {transform: scaleX(var(--s,1)) translate(-4px)}
  100%{transform: scaleX(var(--s,1)) translate( 4px)}
} */
main.dark {
  background-color: #0f0d1b;
  color: #fff;
}
